p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid black;
    border-radius: 5px;

}
button {
    background-color: rgb(50, 187, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}